---
import { defaultLanguage, type LanguageCode } from '@/i18n/ui';
import type { NavItem } from '@/layouts/BaseLayout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Logo from './Logo.astro';
import ThemeToggle from './ThemeToggle.astro';

interface Props {
  navItems: Array<NavItem>;
}
const { navItems } = Astro.props as Props;

const currentLocale =
  (Astro.currentLocale as LanguageCode | undefined) ?? defaultLanguage;
---

<header
  class="py-6 border-b sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <nav class="mx-auto px-4 max-w-screen-2xl flex justify-between items-center">
    <Logo />
    <div class="flex items-center gap-x-5">
      {
        navItems.map((link) => (
          <a
            href={getRelativeLocaleUrl(currentLocale, link.href)}
            class="font-medium text-muted-foreground transition-colors hover:text-foreground relative group"
          >
            {link.label}
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-primary transition-all duration-300 group-hover:w-full" />
          </a>
        ))
      }
    </div>
    <ThemeToggle />
  </nav>
</header>
